page-game {

  ion-grid {
    height: 100%;
    justify-content: center;
  }

  .player-name {
    font-size: 4em;
  }
  
  .player-score {
    font-size: 15em;
  }
}

.toolbar-background {
  background-color: transparent;
}

.toolbar {
  background-color: transparent;
  border-bottom: 0;
  border: 0;
}
