<ion-footer no-border>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button color="secondary" icon-right (click)="newGame()" *ngIf="activeGame?.endDate">
                New Game
                <ion-icon name="add"></ion-icon>
            </button>
            <button ion-button color="danger" icon-right (click)="endGame()" *ngIf="!activeGame?.endDate">
                End Game
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>

<ion-content text-center padding [style.background-color]="active ? '#268826' : '#777'">
	<button ion-button clear item-start (click)="connect()" [disabled]="bleConnected" [color]="bleConnected ? 'default' : 'danger'">
		<ion-icon name="bluetooth"></ion-icon>
	</button>
    <ion-grid *ngIf="activeGame">
        <ion-row>
			<pre>teams: {{activeTeams | json}}</pre>
			<pre>match: {{activeMatch | json}}</pre>
			<ion-col text-center col-6><div class="player-score">{{activeGame.score[0]}}</div></ion-col>
            <ion-col text-center col-6><div class="player-score">{{activeGame.score[1]}}</div></ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center col-6>
                <button ion-button clear item-start (click)="subtractPoint(0)">
                    <ion-icon name="remove"></ion-icon>
                </button>
                <button ion-button clear item-start (click)="addPoint(0)">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
            <ion-col text-center col-6>
                <ion-col text-center col-6>
                    <button ion-button clear item-start (click)="subtractPoint(1)">
                        <ion-icon name="remove"></ion-icon>
                    </button>
                    <button ion-button clear item-start (click)="addPoint(1)">
                        <ion-icon name="add"></ion-icon>
                    </button>
                </ion-col>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center col-6 *ngFor="let team of activeTeams">
				<div class="player-name">{{team.players[0].displayName}}
					<button ion-button clear item-start (click)="editPlayer(team.players[0])">
						<ion-icon name="create"></ion-icon>
					</button>
				</div>
			</ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <p bottom *ngIf="!activeGame?.endDate">Game started {{activeGame?.startDate | amTimeAgo}}</p>
                <p *ngIf="activeGame?.endDate">Game ended {{activeGame?.endDate | amTimeAgo}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
