page-game {

  ion-grid {
    height: 100%;
    justify-content: center;
  }

  .player-name {
    font-size: 6vw;
    line-height: 6vw;
    white-space: nowrap;
  }

  .player-score {
    font-size: 25vw;
    line-height: 25vw;
    font-weight: 600;
    white-space: nowrap;
  }
}

.toolbar-background {
  background-color: transparent;
}

.toolbar {
  background-color: transparent;
  border-bottom: 0;
  border: 0;
}
