<ion-footer no-border>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button color="secondary" icon-right (click)="newGame()" *ngIf="activeGame?.endDate">
                New Game
                <ion-icon name="add"></ion-icon>
            </button>
            <button ion-button color="danger" icon-right (click)="endGame()" *ngIf="!activeGame?.endDate">
                End Game
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>

<ion-content text-center padding [style.background-color]="active ? '#268826' : '#777'">
	<button ion-button clear (click)="debugModal()">
		<ion-icon name="bug"></ion-icon>
	</button>

	<button ion-button clear item-start (click)="connect()" [disabled]="bleConnected" [color]="bleConnected ? 'default' : 'danger'">
		<ion-icon name="bluetooth"></ion-icon>
	</button>
    <ion-grid *ngIf="activeMatch">
        <ion-row>
			<div>{{activeMatch.currentGame.score | json}}</div>
			<div>{{activeMatch.currentGame.winner | json}}</div>
			<!--<ion-col text-center col-6><div class="player-score">{{activeMatch.gamesscore[0]}}</div></ion-col>
            <ion-col text-center col-6><div class="player-score">{{activeMatch.score[1]}}</div></ion-col>-->
        </ion-row>
        <ion-row>
            <ion-col text-center col-6 *ngFor="let team of activeMatch.teams; index as index;">
                <button ion-button clear item-start (click)="subtractScore(team)">
                    <ion-icon name="remove"></ion-icon>
                </button>
                <button ion-button clear item-start (click)="addScore(team)">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center col-6 *ngFor="let team of activeMatch.teams">
				<div class="player-name">{{team.players[0].displayName}}
					<button ion-button clear item-start (click)="editPlayer(team.players[0])">
						<ion-icon name="create"></ion-icon>
					</button>
				</div>
			</ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <p bottom *ngIf="!activeMatch?.endDate">Game started {{activeMatch?.startDate | amTimeAgo}}</p>
                <p *ngIf="activeMatch?.endDate">Game ended {{activeMatch?.endDate | amTimeAgo}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
